
#gp-logo img {
	box-shadow: 1px 1px 2px black;
    background: white;
}
@media all and (min-resolution: 120dpi)  {
  #gp-logo img {
      display: initial;
      max-width: 80pt;
  }
}

.reveal .east.half, .reveal .north-east.half, .reveal .south-east.half {
	max-width: calc(50% - 1em);
    padding: 0 1em 0 0;
}
.reveal .west.half, .reveal .north-west.half, .reveal .south-west.half {
	max-width: calc(50% - 1em);
    padding: 0 0 0 1em;
}
.reveal .half img {
    max-width: 90%;
    max-height: 700px;
}

.reveal .small {
	max-width: 200px;
}
.reveal .small:hover {
	max-width: 400px;
}

.reveal .darkblue {
    color: #18397a;
}
.reveal .lightblue {
    color: #98bdef;
}

/* tables */

.reveal table th, .reveal table td {
	padding: 0em 0.5em;
    font-size: 80%;
    border-bottom: none;
}
.reveal table th {
	border-bottom: 3px solid #18397a !important;
    color: #18397a;
}
.reveal table tr:last-child td {
	border-bottom: 3px solid #18397a !important;
}
.reveal tbody tr:nth-child(6n+4) td,
.reveal tbody tr:nth-child(6n+5) td,
.reveal tbody tr:nth-child(6n+6) td {
    background: #98bdef40;
}

/* boxes */

.reveal .box::before {
	color: #18397a;
    font-size: 120%;
    content: "\f0a4"; /* fa-hand-point-right */
    display: block;
    position: absolute;
	left: -1.3em;
	top: 0;
	text-shadow: 2px 2px 2px #999;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
}
.reveal .box {
    display: inline-block;
	background: white;
    border: 2px solid #18397a;
    border-radius: .5em;
	padding: .1em .5em .1em;
    color: #18397a;
    width: 80%;
    text-align: left;
	box-shadow: 2px 2px 4px #999;
    font-size: 70%;
}
.reveal .box:not(.midpoint):not(.north):not(.east):not(.south):not(.west) {
    position: relative;
    margin: .25em 0;
}
.reveal .box.danger {
    border-color: darkred;
}
.reveal .danger::before {
    content: "\f071"; /* fa-exclamation-triangle */
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    color: darkred;
}
.reveal .box.remember {
    border-color: green;
}
.reveal .remember::before {
    content: "\f02e"; /* fa-bookmark */
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    color: green;
}
.reveal .box.question {
    border-color: orange;
}
.reveal .question::before {
    content: "\f128"; /* fa-question */
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    color: orange;
}
.reveal .reference::before {
    content: "\f0c1"; /* fa-link */
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
}
.reveal .south.reference {
    font-size: 50% !important;
}

.reveal .exercise {
    display: inline-block;
    border: none;
	border-radius: .5em .5em 0 0;
	background: #98bdef;
	color: white;
	padding: .1em .5em .1em;
    width: 80%;
    text-align: left;
	box-shadow: 2px 2px 4px #999;
}
.reveal .exercise:not(.midpoint):not(.north):not(.east):not(.south):not(.west) {
    position: relative;
}
.reveal .exercise::before {
	color: #18397a;
    font-size: 100%;
    content: "\f152"; /* fa-caret-square-right */
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    display: block;
    position: absolute;
	left: -1.2em;
	top: 0;
	text-shadow: 2px 2px 2px #999;
}
.reveal .exercise.solution {
    background: green;
}
.reveal .exercise.solution::before {
	color: green;
    content: "\f00c"; /* fa-check-square */
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
}
.reveal .box.solution {
    border-color: green;
}
.reveal .box.solution::before {
	color: green;
    content: "\f00c"; /* fa-check-square */
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
}

/* icons (usually snapped to north-east) */

.reveal .icons img {
	max-width: 60px;
	border: none;
	box-shadow: none;
	margin: 0;
}

/* code */
.reveal *:not(pre) > code {
	background: #F0F0F0;
	padding: .1em 0.2em 0px;
	display: inline-block;
	font-size: 85%;
	vertical-align: baseline;
}

.reveal code {
	font-weight: bold;
}

